.container{
text-align:center;

}
#ron{
	border-radius: 100%;
	border-style: solid;
	border-width: 2px;
	height: 100px;
	width: 100px;

}

.projects{
   height: 200px;
   width: 250px;
   margin: 2% auto;
  margin-top: 10px;
    background-size: 250px 200px;
    background-repeat: no-repeat; 
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
}

#ed{
    background-image: url('edfaces1.png');
}

#ed:hover {
    background-image: url('edfaces2.png');
    border-color: #2A6496;
}

#hopeless{
    background-image: url('hopeless1.png');
}

#hopeless:hover {
    background-image: url('hopeless2.png');
    border-color: #2A6496;
}

#todo{
    background-image: url('todo1.png');
}

#todo:hover {
    background-image: url('todo2.png');
    border-color: #2A6496;
}

#fanvio{
    background-image: url('fanvio1.png');
}

#fanvio:hover {
    background-image: url('fanvio2.png');
    border-color: #2A6496;
}

#google{
    background-image: url('google1.png');
}

#google:hover {
    background-image: url('google1.png');
    border-color: #2A6496;
}

#tombstone{
    background-image: url('tombstone1.png');
}

#tombstone:hover {
    background-image: url('tombstone2.png');
    border-color: #2A6496;
}



html, body{
  font-family: 'Exo 2', sans-serif;
}


.fa-2x{
color:black;
margin-top:20px;
margin-left:10px;
}

.stuff {
float:right;
}

@media screen and (max-width: 750px){
	.nav-bar-area{
	height:auto;
	overflow:auto;
	}
	
	.navlink{
		color: black;
	}
	.navlink:hover {
		color: #FF7519;
	}
	
	
}

@media screen and (max-width: 480px){
  
}
